<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"/>
  <link rel="icon" href="/assets/favicon.svg"/>
  <script src="//cdn.unpkg.net/~metadream/thyme@0.0.4/dist/thyme.js"></script>
  <link rel="stylesheet" href="/assets/app.css"/>
  <title>初始化 - {{= appName }}</title>
</head>

<body class="layout-center">
  <div class="front-panel" style="width:490px">
    <th-field label="管理员账号" name="username" maxlength="20" required></th-field>
    <th-field label="管理员密码" type="password" name="password" maxlength="20" required></th-field>
    <th-field label="媒体库路径" name="library" maxlength="100" required></th-field>

    <div style="margin-top:20px">
      可选元数据属性<br>
      <span class="tiny-title">勾选项将作为媒体元数据的附加属性，对媒体进行多维度分类、查询。</span>
    </div>
    <div class="metafields">
      {{~ Object.entries(METAFIELDS): entry }}
      <label><input type="checkbox" name="metafields" value="{{= entry[0] }}"/>{{= entry[1] }}</label>
      {{~ }}
    </div>

    <div>
      <label><input type="checkbox" name="codify" value="1"/>使用编号对媒体文件重命名</label>
      <div class="tiny-title">勾选此项后，修改元数据编号时将会同步修改媒体文件名</div>
    </div>
    <th-button onclick="init(this)">初始化</th-button>
  </div>
</body>
</html>

<script>
async function init(btn) {
  const data = Thyme.form.getJsonObject('.front-panel');
  if (!data) return;

  try {
    btn.loading = true;
    await Thyme.http.post('/init', data);
    location.href = '/metadata?init';
  } finally {
    btn.loading = false;
  }
}
</script>